<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <div class="stations">
    <h2>Stations</h2>
    <select [id]="cities![i]" name="station" *ngFor="let city of cities; index as i">
      <option [value]="city" *ngFor="let nameCity of cities; index as k" [selected]="i === k">
        {{ nameCity }}
      </option>
    </select>
  </div>
  <div class="carriages">
    <h2>Carriages</h2>
    <select
      id="`${carriages+i}`"
      name="carriage"
      *ngFor="let carriage of currentRoute!.carriages; index as i"
      [value]="carriage"
    >
      <option
        [value]="carriage"
        *ngFor="let typeCarriage of carriages"
        [selected]="carriage === typeCarriage.code"
      >
        {{ typeCarriage.code }}
      </option>
    </select>
  </div>
  <button mat-button>Save update Route</button>
</form>
