<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <div class="stations" formArrayName="stations">
    <h2>Stations</h2>
    <select
      [name]="'stations-' + i"
      *ngFor="let city of cities; index as i"
      (change)="changeStation(i)"
      [formControlName]="i"
    >
      <option
        [value]="nameCity.id"
        *ngFor="
          let nameCity of mode === 'add' ? getConnectedCities() : getConnectedCities(cities[i]);
          index as k
        "
        [selected]="i === k"
      >
        {{ nameCity.city }}
      </option>
    </select>
  </div>
  <div class="carriages" formArrayName="carriages">
    <h2>Carriages</h2>
    <select
      [name]="'carriages-' + k"
      *ngFor="let carriage of currentRoute.carriages; index as k"
      [value]="carriage"
      [formControlName]="k"
    >
      <option
        [value]="carriage"
        *ngFor="let typeCarriage of carriages$ | async"
        [selected]="carriage === typeCarriage.code"
      >
        {{ typeCarriage.code }}
      </option>
    </select>
  </div>
  <button mat-button type="submit">Save update Route</button>
  <button mat-button (click)="close()">Close</button>
</form>
