header {
  display: flex;
  justify-content: space-between;
  width: var(--container-with);
  padding: 0.5rem 0;
  @media (max-width: 1200px) {
    width: calc(100% - 4rem);
    padding: 0.5rem 2rem;
  }
}
.nav {
  display: flex;
  align-items: center;
}
.desc-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .mobil-nav {
    display: block;
  }
  .desc-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobil-nav {
    display: none;
  }
  .desc-nav {
    display: flex;
  }
}
