@let selectedIndex = searchDate ? getTabIndexAccordingDate(searchDate) : 0;

@if (uniqueSearchDates.length > 0) {
  <mat-tab-group
    class="tabs"
    (selectedIndexChange)="setSearchDateByIndex($event)"
    [selectedIndex]="selectedIndex"
  >
    @for (date of uniqueSearchDates; track date.getTime()) {
      <mat-tab class="tab-content">
        <ng-template mat-tab-label>
          <div class="tab-label">
            <div class="tab-date">
              {{ date | date: 'MMMM dd' }}
            </div>

            <div class="tab-day">
              {{ date | date: 'EEEE' }}
            </div>
          </div>
        </ng-template>

        <ng-template matTabContent>
          <app-trips-search-results></app-trips-search-results>
        </ng-template>
      </mat-tab>
    }
  </mat-tab-group>
} @else {
  <p>Trips not found</p>
}
