.ride {
  padding: 20px;
  border: 1px solid var(--grey);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 480px) {
    padding: 10px;
  }
}

.info {
  width: 100%;
}

.time,
.city {
  font-weight: 500;
}

.duration {
  position: absolute;
  font-weight: 500;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}

.info-time {
  display: flex;
  gap: 5px;
}

.icon {
  color: var(--primary-blue);
}

.line {
  background-color: var(--primary-blue);
  flex-grow: 1;
  height: 3px;
}

.path {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
