<div class="buttons-wrapper">
  <button
    mat-button
    routerLink="stations"
    (click)="makeActive('stations')"
    [ngStyle]="
      activeButtons === 'stations'
        ? { 'background-color': '#9ca3af' }
        : { 'background-color': '#f2f2f2' }
    "
  >
    Stations
  </button>
  <button
    mat-button
    routerLink="routes"
    (click)="makeActive('routes')"
    [ngStyle]="
      activeButtons === 'routes'
        ? { 'background-color': '#9ca3af' }
        : { 'background-color': '#f2f2f2' }
    "
  >
    Routes
  </button>
  <button
    mat-button
    routerLink="carriages"
    (click)="makeActive('carriages')"
    [ngStyle]="
      activeButtons === 'carriages'
        ? { 'background-color': '#9ca3af' }
        : { 'background-color': '#f2f2f2' }
    "
  >
    Carriages
  </button>
</div>
<router-outlet></router-outlet>
