<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Create new route </mat-panel-title>
    </mat-expansion-panel-header>
    <app-create-form></app-create-form>
  </mat-expansion-panel>
</mat-accordion>

<app-update-form
  [currentRoute]="currentRoute"
  [cities]="getCities(currentRoute.path)"
  *ngIf="updateMode"
></app-update-form>

<mat-divider></mat-divider>
<div class="route" *ngFor="let route of routes | async; index as i">
  <div class="route-header">
    <h3>Route {{ route.id }}</h3>
    <div
      class="route-header-buttons"
      (mousemove)="showButtonsGoal()"
      (mouseleave)="hideButtonsGoal()"
    >
      <button mat-icon-button title="Update" (click)="updateRoute(route)">
        <mat-icon color="primary">autorenew</mat-icon>
        <span *ngIf="showMode">Update ride</span>
      </button>
      <button mat-icon-button title="Assign ride">
        <mat-icon color="primary">train</mat-icon>
        <span *ngIf="showMode">Assign ride</span>
      </button>
      <button mat-icon-button title="Delete ride" (click)="onDeleteRoute(route.id)">
        <mat-icon color="primary">delete</mat-icon>
        <span *ngIf="showMode">Delete ride</span>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="cities">
    <h4>Cities:</h4>
    <span *ngFor="let city of getCities(route.path); last as isLast"
      >{{ isLast ? city : city + ' -' }}
    </span>
  </div>
  <mat-divider></mat-divider>
  <div class="carriages-types">
    <h4>Carriages Types:</h4>
    <span *ngFor="let type of getCarriageTypes(route.carriages); last as isLast">{{
      isLast ? type : type + ' -'
    }}</span>
  </div>
</div>
