<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Create new route </mat-panel-title>
    </mat-expansion-panel-header>
    <app-create-form hideToggle></app-create-form>
  </mat-expansion-panel>
</mat-accordion>

<app-update-form
  [currentRoute]="currentRoute"
  [cities]="getCities(currentRoute.path) | async"
  [carriages]="carriages$ | async"
  *ngIf="updateMode"
></app-update-form>

<div class="overlay" *ngIf="isLoading$ | async">
  <mat-spinner></mat-spinner>
</div>

<mat-divider></mat-divider>
<div
  class="route"
  *ngFor="let route of (routes$ | async)!.slice((NumberPage - 1) * 5, NumberPage * 5); index as i"
>
  <div class="route-header">
    <h3>Route {{ route.id }}</h3>
    <div
      class="route-header-buttons"
      (mousemove)="showButtonsGoal()"
      (mouseleave)="hideButtonsGoal()"
    >
      <button mat-icon-button title="Update" (click)="updateRoute(route)">
        <mat-icon color="primary">autorenew</mat-icon>
        <span *ngIf="showMode">Update ride</span>
      </button>
      <button mat-icon-button title="Assign ride">
        <mat-icon color="primary">train</mat-icon>
        <span *ngIf="showMode">Assign ride</span>
      </button>
      <button mat-icon-button title="Delete ride" (click)="onDeleteRoute(route.id)">
        <mat-icon color="primary">delete</mat-icon>
        <span *ngIf="showMode">Delete ride</span>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="cities">
    <h4>Cities:</h4>
    <span *ngFor="let city of getCities(route.path) | async; last as isLast"
      >{{ isLast ? city : city + ' -' }}
    </span>
  </div>
  <mat-divider></mat-divider>
  <div class="carriages-types">
    <h4>Carriages Types:</h4>
    <span *ngFor="let type of getCarriageTypes(route.carriages); last as isLast">{{
      isLast ? type : type + ' -'
    }}</span>
  </div>
</div>
<div class="pagination">
  <button mat-icon-button [disabled]="!(NumberPage - 10 > 0)" (click)="changePage('minus', 10)">
    <mat-icon>keyboard_double_arrow_left</mat-icon>
  </button>
  <button mat-icon-button [disabled]="!(NumberPage - 1 > 0)" (click)="changePage('minus', 1)">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>{{ NumberPage }}</span>
  <button
    mat-icon-button
    [disabled]="!(NumberPage + 1 < (routes$ | async)!.length)"
    (click)="changePage('plus', 1)"
  >
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <button
    mat-icon-button
    [disabled]="!(NumberPage + 10 < (routes$ | async)!.length)"
    (click)="changePage('plus', 10)"
  >
    <mat-icon>keyboard_double_arrow_right</mat-icon>
  </button>
</div>
