<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div class="stations" formArrayName="stations">
    <h2>Stations</h2>
    <select
      [name]="'stations-' + i"
      *ngFor="let item of stations.controls; index as i"
      (change)="addItem('station')"
      [formControlName]="i"
    >
      <option value="" selected>Choose city</option>
      <option
        [value]="station.id"
        *ngFor="let station of i ? getConnectedStationList() : (stations$ | async)"
      >
        {{ station.city }}
      </option>
    </select>
  </div>
  <div class="carriages" formArrayName="carriages">
    <h2>Carriages</h2>
    <select
      [name]="'carriages-' + k"
      *ngFor="let value of carriages.controls; index as k"
      (change)="addItem('carriage')"
      [formControlName]="k"
    >
      <option value="" selected>Choose carriage</option>
      <option [value]="carriage.name" *ngFor="let carriage of carriages$ | async">
        {{ carriage.name }}
      </option>
    </select>
  </div>
  <button type="submit" mat-button [disabled]="stations.length < 3 || carriages.length < 3">
    Create new Route
  </button>
</form>
