:host {
  &::ng-deep mat-card-content {
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
    }
  }
  &::ng-deep mat-card-title {
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1.75rem;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    align-items: center;
  }
  .prototype {
    border-left: solid 0.175rem var(--grey-light);
    padding-left: 3rem;

    @media (max-width: 768px) {
      border-left: none;
      padding-left: 1rem;
    }
  }
  .subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .button-row {
    display: flex;
    gap: 1rem;
  }
}
