<nav>
  <ul [ngClass]="{ row: !isMobile, colum: isMobile }">
    <li><a [routerLink]="navLinks.guest.home">Home</a></li>
    <ng-container *ngIf="role !== 'guest'">
      <li><a [routerLink]="navLinks.user.profile">Profile</a></li>
      <li><a [routerLink]="navLinks.user.orders">My Orders</a></li>
    </ng-container>
    <ng-container *ngIf="role === 'manager'">
      <li><a [routerLink]="navLinks.admin.panel">Admin</a></li>
    </ng-container>
  </ul>
</nav>
<div class="buttons" [ngClass]="{ row: !isMobile, colum: isMobile }">
  <ng-container *ngIf="role === 'guest'">
    <button mat-flat-button [routerLink]="navLinks.guest.signup">
      Sign Up
    </button>
    <button mat-flat-button [routerLink]="navLinks.guest.signin">
      Sign In
    </button>
  </ng-container>
  <ng-container *ngIf="role !== 'guest'">
    <button mat-flat-button (click)="logout()">Logout</button>
  </ng-container>
</div>
