<nav>
  <ul [ngClass]="{ row: !isMobile, colum: isMobile }">
    <li><a [routerLink]="this.navLinks.guest.home">Home</a></li>
    <ng-container *ngIf="role === 'user'">
      <li>
        <a [routerLink]="this.navLinks.user.profile">Profile</a>
      </li>
      <li>
        <a [routerLink]="this.navLinks.user.orders">My Orders</a>
      </li>
    </ng-container>
    <ng-container *ngIf="role === 'manager'">
      <li>
        <a [routerLink]="this.navLinks.admin.profile">Profile</a>
      </li>
      <li>
        <a [routerLink]="this.navLinks.admin.orders">Orders</a>
      </li>
    </ng-container>
  </ul>
</nav>
<div class="buttons" [ngClass]="{ row: !isMobile, colum: isMobile }">
  <ng-container *ngIf="role === 'guest'">
    <button mat-flat-button [routerLink]="this.navLinks.guest.signup">Sign Up</button>
    <button mat-flat-button [routerLink]="this.navLinks.guest.signin">Sign In</button>
  </ng-container>
  <ng-container *ngIf="role === 'user'">
    <button mat-flat-button (click)="onLogout()">Logout</button>
  </ng-container>
  <ng-container *ngIf="role === 'manager'">
    <button mat-flat-button [routerLink]="this.navLinks.admin.panel">Admin</button>
  </ng-container>
</div>
