<h1>Carriage management</h1>

<button
  mat-flat-button
  color="primary"
  type="submit"
  (click)="toggleOpenForm()"
  class="button-create"
  [disabled]="isOpenForm"
>
  Create carriage
</button>
<div id="formContainer" #formElement>
  <ng-container *ngIf="isOpenForm">
    <app-carriage-form
      [carriage]="updatedCarriage"
      (formSubmitted)="toggleOpenForm()"
      (formClosed)="toggleOpenForm()"
      #anchorElement
    ></app-carriage-form>
  </ng-container>
</div>

<ol>
  <li *ngFor="let carriage of carriages$ | async | reverse">
    <app-carriage-card
      [carriage]="carriage"
      [isDisabled]="isOpenForm"
      (updatedCarriage)="onSelectedUpdateCarriage($event)"
    ></app-carriage-card>
  </li>
</ol>
