@if (route$ | async; as routes) {
  @for (route of routes; track route.id) {
    <h1>Route {{ route.id }}</h1>
    @for (ride of rides$ | async; track ride.rideId) {
      <mat-card appearance="outlined">
        <mat-card-header
          ><h5 class="font-weight:bold;">Ride {{ ride.rideId }}</h5>
          <button mat-button (click)="openDialog(ride.rideId)">
            <mat-icon
              aria-hidden="false"
              aria-label="delete ride icon"
              fontIcon="delete"
            ></mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          @if (stations$ | async; as stations) {
            @for (path of ride.path; track path; let idx = $index) {
              <div class="container">
                <div class="column">
                  <h6 class="font-weight:bold;">{{ findStationNameById(path, stations) }}</h6>
                </div>
                <div class="column" id="timetable-{{ ride.rideId }}-{{ idx }}">
                  @if ($index === 0) {
                    @if (
                      !(
                        isEnable !== undefined &&
                        ride.rideId === isEnable[0] &&
                        idx === isEnable[1]
                      )
                    ) {
                      Departure:
                      {{ ride.schedule.segments[idx].time[0] | date: 'yyyy-MM-dd HH:mm' }}
                      <mat-icon
                        aria-hidden="false"
                        aria-label="delete station icon"
                        fontIcon="edit"
                        (click)="
                          editTimetable(ride.rideId, idx, ride.schedule.segments[idx].time[0], '')
                        "
                      ></mat-icon>
                    } @else {
                      <form [formGroup]="timetableForm">
                        <mat-form-field appearance="outline">
                          <mat-label>Departure:</mat-label>
                          <input matInput formControlName="departure" required />
                        </mat-form-field>
                      </form>
                      <mat-icon
                        aria-hidden="false"
                        aria-label="delete station icon"
                        fontIcon="save"
                        (click)="updateTimetable(ride, idx)"
                      ></mat-icon>
                    }
                  } @else if ($index < ride.path.length - 1) {
                    @if (
                      !(
                        isEnable !== undefined &&
                        ride.rideId === isEnable[0] &&
                        idx === isEnable[1]
                      )
                    ) {
                      Departure:
                      {{ ride.schedule.segments[idx - 1].time[1] | date: 'yyyy-MM-dd HH:mm' }}
                      <br />
                      Arrival: {{ ride.schedule.segments[idx].time[0] | date: 'yyyy-MM-dd HH:mm' }}
                      <mat-icon
                        aria-hidden="false"
                        aria-label="delete station icon"
                        fontIcon="edit"
                        (click)="
                          editTimetable(
                            ride.rideId,
                            idx,
                            ride.schedule.segments[idx].time[0],
                            ride.schedule.segments[idx - 1].time[1]
                          )
                        "
                      ></mat-icon>
                    } @else {
                      <form [formGroup]="timetableForm">
                        <mat-form-field appearance="outline">
                          <mat-label>Arrival:</mat-label>
                          <input matInput formControlName="arrival" required />
                        </mat-form-field>

                        <br />
                        <mat-form-field appearance="outline">
                          <mat-label>Departure:</mat-label>
                          <input matInput required formControlName="departure" />
                        </mat-form-field>
                      </form>
                      <mat-icon
                        aria-hidden="false"
                        aria-label="delete station icon"
                        fontIcon="save"
                        (click)="updateTimetable(ride, idx)"
                      ></mat-icon>
                    }
                  } @else {
                    @if (
                      !(
                        isEnable !== undefined &&
                        ride.rideId === isEnable[0] &&
                        idx === isEnable[1]
                      )
                    ) {
                      Arrival:
                      {{ ride.schedule.segments[idx - 1].time[1] | date: 'yyyy-MM-dd HH:mm' }}
                      <mat-icon
                        aria-hidden="false"
                        aria-label="delete station icon"
                        fontIcon="edit"
                        (click)="
                          editTimetable(
                            ride.rideId,
                            idx,
                            '',
                            ride.schedule.segments[idx - 1].time[1]
                          )
                        "
                      ></mat-icon>
                    } @else {
                      <form [formGroup]="timetableForm">
                        <mat-form-field appearance="outline">
                          <mat-label>Arrival:</mat-label>
                          <input matInput formControlName="arrival" required />
                        </mat-form-field>
                      </form>
                      <mat-icon
                        aria-hidden="false"
                        aria-label="delete station icon"
                        fontIcon="save"
                        (click)="updateTimetable(ride, idx)"
                      ></mat-icon>
                    }
                  }
                </div>
                <div class="column">
                  @if ($index < ride.path.length - 1) {
                    @if (
                      !(
                        isEnablePrice !== undefined &&
                        ride.rideId === isEnablePrice[0] &&
                        idx === isEnablePrice[1]
                      )
                    ) {
                      Price
                      <mat-icon
                        aria-hidden="false"
                        aria-label="delete station icon"
                        fontIcon="edit"
                        (click)="editPrice(ride.rideId, idx, ride.schedule.segments[idx].price)"
                      ></mat-icon>
                      <div *ngFor="let key of getKeys(ride.schedule.segments[idx].price)">
                        {{ key }}:
                        {{
                          ride.schedule.segments[idx].price[key] / 100
                            | currency: 'USD' : 'symbol' : '1.2-2'
                        }}
                      </div>
                    } @else {
                      <form [formGroup]="priceForm">
                        <div *ngFor="let key of priceControls; let i = index">
                          <mat-form-field
                            appearance="outline"
                            subscriptSizing="dynamic"
                            style="margin-bottom: 16px"
                          >
                            <mat-label>{{ key }}</mat-label>
                            <input matInput [formControlName]="key" required type="number" />
                          </mat-form-field>
                        </div>
                      </form>
                      <mat-icon
                        aria-hidden="false"
                        aria-label="delete station icon"
                        fontIcon="save"
                        (click)="updatePrice(ride, idx)"
                      ></mat-icon>
                    }
                  }
                </div>
              </div>
            }
          }
        </mat-card-content>
      </mat-card>
      <br />
    }
  }
}
