<ng-container *ngIf="role$ | async as role">
  <ng-container *ngIf="role === 'manager'; else notManager">
    <h1>All Orders</h1>
  </ng-container>
  <ng-template #notManager>
    <h1>Your Orders</h1>
  </ng-template>
</ng-container>
<ng-container *ngIf="ordersForView; else noOrders">
  <ol class="orders-list">
    <li *ngFor="let order of ordersForView">
      <app-order [order]="order"></app-order>
    </li>
  </ol>
</ng-container>
<ng-template #noOrders>
  <p>No orders available.</p>
</ng-template>
