.orders-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 0.25rem;

  li::marker {
    color: var(--primary-blue);
    font-weight: bold;
    font-size: 1.25em;
  }
}
.warning {
  z-index: 4;
  position: absolute;
  padding: 2rem;
  background: #fff;
  top: 50%;
  left: 50%;
}
