<h2>Profile</h2>
<p *ngIf="(role$ | async) === 'manager'">Manager</p>
<button type="button" mat-flat-button (click)="makeVisibleModal()">Change password</button>
<mat-card *ngIf="visibleModal" appearance="outlined" class="modal">
  <mat-card-content>
    <h2>New password</h2>
    <div class="wrapper-modal">
      <mat-form-field appearance="outline">
        <mat-label for="newPassword">New password</mat-label>
        <input matInput type="password" id="newPassword" [formControl]="newPassword" />
      </mat-form-field>
      <button type="button" mat-flat-button (click)="updatePassword(newPassword.value ?? '')">
        Update password
      </button>
    </div>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<h3>Name</h3>
<div *ngIf="nameMode === 'writing'; else nameReading">
  <div class="wrapper">
    <mat-form-field appearance="outline">
      <mat-label for="name">New name</mat-label>
      <input matInput type="text" id="name" [formControl]="newName" />
    </mat-form-field>
    <button
      type="button"
      mat-icon-button
      class="edit"
      (click)="updateUserData(newName.value ?? '', '')"
    >
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
<ng-template #nameReading>
  <div class="wrapper">
    <span>{{ currentName }}</span>
    <button type="button" (click)="changeNameMode()" mat-icon-button class="edit">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</ng-template>
<mat-divider></mat-divider>
<h3>Email</h3>
<div *ngIf="emailMode === 'writing'; else emailReading">
  <div class="wrapper">
    <mat-form-field appearance="outline">
      <mat-label for="newEmail">New email</mat-label>
      <input matInput type="text" id="newEmail" [formControl]="newEmail" />
    </mat-form-field>
    <button
      type="button"
      mat-icon-button
      class="edit"
      (click)="updateUserData('', newEmail.value ?? '')"
    >
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
<ng-template #emailReading>
  <div class="wrapper">
    <span>{{ currentEmail }}</span>
    <button type="button" (click)="changeEmailMode()" mat-icon-button class="edit">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</ng-template>
<mat-divider></mat-divider>
<button type="button" mat-flat-button (click)="LogOut()">LogOut</button>
