:root {
  --container-with: 1200px;
  --black: #2c2a29;
  --primary-blue: #213786;
  --blue-light: #4a62ba;
  --blue-extra-light: #dee1ed;
  --success-green: #00c136;
  --green-light: #d8ffe7;
  --error-red: #ff1c1c;
  --red-light: #ffebeb;
  --grey: #9ca3af;
  --grey-light: #f2f2f2;
  --grey-extra-light: #fdfcff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font:
    400 1rem / 1.5rem 'Segoe UI',
    sans-serif !important;
  color: var(--black);
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: var(--primary-blue) !important;
}

a {
  text-decoration: none;
  color: var(--black);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-blue);
    }
    a:active {
      color: var(--primary-blue);
    }
  }
}
