:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  overflow: auto;
}

.title-row {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.free-seats {
  padding: 0.25rem 0.75rem;
  font-weight: 600;
  color: var(--grey);
  background-color: var(--grey-light);
  border-radius: 0.75rem;
}

.number {
  font-size: 1.5rem;
  font-weight: 600;
}

.carriage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: solid 0.375rem var(--grey-light);
  border-radius: 2.5rem;
  padding: 2rem 3rem;
  width: fit-content;
}

.columns-container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
}

.seats {
  display: flex;
  gap: 0.5rem;
  padding: 0 2rem;
  border-left: solid 0.25rem var(--grey-light);
  border-right: solid 0.25rem var(--grey-light);
}

.seat label {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat:not(.seat-occupied) label {
  cursor: pointer;
}

.seat {
  border-radius: 0.5rem;
  @media (hover: hover) and (pointer: fine) {
    &:is(.seat-free):hover {
      background-color: var(--blue-extra-light);
    }
  }
}

.seat input {
  display: none;
}

.seat-free {
  background-color: var(--grey-light);
}

.seat-occupied {
  background-color: var(--primary-blue);
  color: #fff;
}

.seat-booked {
  background-color: var(--yellow);
}
